#write_form {
	margin-top:10px;
	overflow:hidden;
}

#write_form #write_row1 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row2 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row3 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row4 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row5 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row6 {
    width:99%; 
	height:251px; 
	margin:2px 0 2px 0; 
}

.write_line {
    width:99%; 
	border-bottom:solid 1px #cccccc;
}

#write_form .col1 {
	float:left;
	width:120px;
	text-align:center;
	padding:5px;
	background-color:#eeeeee;
}

#write_form .col2 {
	float:left;
	margin-left: 8px;
	margin-top:2px;
}

#row6_col1{
    height: 220px;
}

#write_button {
	margin-top:15px;
	width:90%;
	text-align:right;
}






#write_row1 .col2 {
	margin-top:6px;
}

#write_form #write_row1 .col3 {
	float:left;
	margin-top:4px;
	margin-left:100px;
}

#write_row2 .col2 input {
	width:650px;
	height:17px;
	border:solid 1px #cccccc;
}

#write_row3 .col2 textarea {
    margin-top:1px;
	border:solid 1px #cccccc;
}

#write_row4 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_row5 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_row6 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}